@model EmployeeViewModel
@{
}


<div class="modal fade" id="employeeServicesModal-@Model.Employee.EmployeeId" tabindex="-1" role="dialog" aria-labelledby="editEmployeeServicesLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEmployeeServicesLabel">Edit Employee Services</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="EditEmployee" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.Employee.EmployeeId" />
                    <div class="form-group my-1">
                        @foreach (var e in Model.AllServices)
                        {
                            @if (Model.Employee.EmployeeServices == null)
                            {
                                <p>This employee is currently not signed up for any services.</p>
                            }
                            else
                            {
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input asp-for="Employee.EmployeeServices" class="form-check-input" type="checkbox" id="@e.ServiceId">
                                        <label asp-for="Employee.EmployeeServices" class="form-check-label" for="gridCheck1"></label>
                                    </div>
                                </div>
                            }
                            
                            <div class="col-sm-8">
                                @e.ServiceName
                            </div>
                        }
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Edit Employee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>