
@{
    ViewData["Title"] = "Projects";
}


<div class="container-fluid">
    <div class="container projects-header">
        <h1>Porfolio Projects</h1>
    </div>
    <div class="container items-container">
        <div class="btn-group" role="group" aria-label="Project Difficulty">
            <button type="button" class="btn btn-secondary btn-fixed-width">All Projects</button>
            <button type="button" class="btn btn-secondary btn-fixed-width">Intermediate</button>
            <button type="button" class="btn btn-secondary btn-fixed-width">Basic</button>
        </div>
    </div>
</div>


